{% extends 'CompanyPageBundle:Common:listing_base.html.twig' %}


{% block body_attributes %}
{{ parent() }}
data-locale="{{ siteSettings()._locale }}"
{% endblock %}

{% set venue = listing %}


{% block booking_widget %}
    {% set hasTableBooking = listing.isBookable and listing.hasRestaurantReservation %}
{% endblock %}



{% block tabs %}

    {% set tabs = [{}] %}

    {% if listing.getAnnotation is not empty or listing.getPreview is not empty %}
        {% set tabs = tabs|merge([{
            'type' : 'article'
        }]) %}
    {% endif %}

    {% set tabs = tabs|merge([{
        'type' : 'venue_details',
    }]) %}

    {% if listing.getFilms is not null %}
        {% set tabs = tabs|merge([{
            'type' : 'films',
        }]) %}
    {% endif %}

    {% if listing.getEvents is not null %}
        {% set tabs = tabs|merge([{
            'type' : 'events',
            'extra_classes': {
                'panel': 'search_results'
            }
        }]) %}
    {% endif %}

    {% set tabs = tabs|merge([{
        'type' : 'user_reviews',
        'extra_classes': {
            'button': 'ugc_brand'
        }
    }]) %}

    {% include 'CompanyPageBundle:Common:Tabs/tabs.html.twig' with { 'tabs' : tabs, 'default_tab_index' : 1 } %}
{% endblock tabs %}


{% block nearby %}
    {% set includeParams = {
        'tabs': nearby.tabs,
        'listing': listing,
        'showImage': true,
        'showTabs': false
    } %}
    {% include 'CompanySearchBundle:Panels:_sectionTabPanel.html.twig' with includeParams %}
{% endblock nearby %}
